* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.title-list {
  font-size: 2.5rem;
  text-align: center;
  margin: 20px 0;
}

.container {
  width: 60%;
  margin: 0 auto;
  text-align: center;
  margin-top: 50px;
}

#todo {
  width: 40%;
}

.btn {
  padding: 0px 7px;
}

.cont-list {
  margin-top: 30px;
}

.list li {
  list-style-type: none;
  font-size: 1.5rem;
  margin-bottom: 7px;
}

.line-through {
  text-decoration: line-through;
}
